 <h3><%= @category.title %></h3>
 <p><%= @category.description %></p>
 <div class="row">
  <div class="link">
    <%= link_to t('link.edit'), edit_admin_category_path, class:"btn btn-outline-secondary" %>
   </div>
   <div class="link">
     <%= link_to t('link.delete'), admin_category_path, method: :delete,
                data: { confirm: t('confirm') }, class:"btn btn-outline-secondary" %>
   </div>
   <div class="link">
    <%= link_to t('link.back'), admin_products_path, class:"btn btn-outline-secondary" %>
   </div>
</div>