<div class="offset-sm-4 mt-5">
  <h2><%= t('cart.cart') %></h2>
  <table>
    <% @cart.line_items.each do |item| %>
      <tr>
        <td><%= item.quantity %>&times;</td>
        <td><%= item.product.title %></td>
        <td class="item_price"><%= item.total_price %></td>
      </tr>
    <% end %>
    <tr class="total_line">
      <td colspan="2"><%= t('cart.total') %></td>
      <td class="total_cell"><%= cart.total_price %></td>
    </tr>
  </table>
  <div class="row">
    <div class="col-2"><%= button_to t('cart.checkout'), new_order_path, method: :get, class:'btn btn-outline-dark' %></div>
    <div class="offset-1">
      <%= button_to t('cart.cart_empty'), cart, method: :delete,
                    data: { confirm: t('confirm') }, class:'btn btn-outline-dark' %>
    </div>
  </div>
</div>