<div class="container">
  <%= form_with(model: [ :admin, @product ],local: true) do |form| %>
    <% if @product.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= form.collection_select(:category_id, Category.all, :id, :title, class:'form-control') %>
    </div>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control"%>
    </div>
    <div class="field">
      <%= form.label :description %>
      <%= form.rich_text_area :description, class: "form-control"%>
    </div>
    <div class="field">
      <%= form.label :price %>
      <%= form.number_field :price, class: "form-control"%>
    </div>
    <div class="field">
      <%= form.file_field :images, multiple: true, class: "file"%>
    </div>
    <div class="upload-preview">
      <img />
    </div>
    <div>
      <% @product.images.each_with_index do |image, index| %>
        <li>
          <%= image_tag(image.url(:large)) %>
        </li>
      <% end %>
    </div>
    <br>
    <div class="">
      <%= form.submit t('products.form.submit'), class: "btn btn-outline-secondary" %>
      <%= link_to t('products.form.back'), admin_products_path,class:"btn btn-outline-secondary"  %>
    </div>
  <% end %>
</div>
<script>
    document.querySelector('.file').addEventListener('change', event => {
        [...event.target.files].forEach(file => {
            const url = URL.createObjectURL(file)
            addImageToBody(url)
        })
    })
    // add image to html
    function addImageToBody (src) {
        const img = document.createElement('img')
        img.src = src
        img.className = 'my-img'
        $('.upload-preview').append(img)
    }
</script>