<div class="row">
  <div class="col-sm-2"><h3>Products</h3></div>
  <div class="col-sm-2"><%= link_to 'New Product', new_admin_product_path, class: 'btn btn-outline-secondary' %></div>
  <div class="col">
    <div class="form-inline">
      <%= form_tag(admin_products_path, method: "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search", class:'form-control' %>
        <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-search"></i></button>
      <% end %>
    </div>
  </div>
</div>
  <table class="table_product">
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Link</th>
    </tr>
    <ul>
      <% @products.each do |products| %>
        <tr>
          <td>
            <%= link_to admin_category_path(products.category_id) do %>
              <%= products.category.title %>
            <% end %>
          </td>
          <td>
            <%= link_to admin_product_path(products), class:'link' do %>
              <%= products.title %>
            <% end %>
          </td>
          <td><%=h truncate(products.description, length: 50) %></td>
          <td><%= products.price %></td>
          <td><%= link_to 'Show', admin_product_path(products) %>  |
          <%= link_to 'Edit', edit_admin_product_path(products) %>  |
          <%= link_to 'Destroy', admin_product_path(products), method: :delete,
                          data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </ul>
  </table>
</div>
  <div class="row justify-content-center">
    <%= will_paginate(@things, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-sm') %>
  </div>
</div>