<header>
  <h1>If you Wanna be Happy</h1>
  <h3>to put something in your life and let it snow snow snow</h3>
  <div class="form-inline subscribe">
    <%= form_tag(products_path, method: "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search", class:'form-control' %>
      <button type="submit" class="btn btn-outline-light"><i class="fa fa-search"></i></button>
    <% end %>
  </div>
</header>
<section class="simle_product">
  <% if @product.present? %>
    <div class="offset-md-3">
      <div class="row ">
        <div class="col-6">
          <div class="card_body">
            <h5 class="card_title col"><%= @product.title%></h5>
            <p class="card_text col-md-8"><%=h truncate(@product.description, length: 250) %></p>
            <div class="row col cart_price">
              <div class="col-md">
                <h5>hot prise, buy now!</h5>
              </div>
              <div class="col-md">
                <h5><%= @product.price %> грн</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <%= link_to @product, class:"product_title" do %>
            <% if @product.images? %>
                <div class="product_image_img">
                  <%= image_tag @product.images.first.url(:large)%>
                </div>
            <% else %>
              <div class="product_image_img">
                <%= image_tag("http://knigoland.com.ua/image/cache/data/1/115907-360x562.jpg", {class:"simple_other_images"}) %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</section>
<section  class="background">
  <div class="offset-md-1 dropright">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      sort by
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to "most popular",       products_path(sort: 'old_products'), class: 'dropdown-item' %>
      <%= link_to "recently added",     products_path(sort: 'new_products'), class: 'dropdown-item' %>
      <%= link_to "price: low to higt", products_path(sort: 'asc'), class: 'dropdown-item' %>
      <%= link_to "price: higt to low", products_path(sort: 'desc'), class: 'dropdown-item' %>
    </div>
  </div>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col col-cm col-md-6 col-lg-4 col-xl-3">
        <div class="products_cart">
          <div class="mb-5">
            <%= link_to product, class:"product_title" do %>
              <div class="products_image">
                <% if product.images? %>
                  <div class="product_image_img">
                    <%= image_tag product.images.first.url, {class:"other_images"} %>
                  </div>
                <% else %>
                  <div class="product_image_img">
                    <%= image_tag (rand_image_to_heroku), {class:"other_images"} %>
                  </div>
                <% end %>
              </div>
              <div>
                <b><%= product.title%></b>
              </div>
            <% end %>
            <div class="row cart_price">
              <div class="col-7">
                <h5><%= product.price %> грн</h5>
              </div>
              <div class="col">
                <i class="fas fa-shopping-cart"></i>
                <i class="far fa-heart"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center pagination ">
    <%= will_paginate(@products, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-sm ') %>
  </div>
</section>