<div class="background_show">
  <div class="offset-2">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% if @product.images? %>
          <% @product.images.each_with_index do |image, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>" >
              <%= image_tag(image.url, id: index, class: 'd-block carousel__image') %>
            </div>
          <% end %>
        <% else %>
          <div class="carousel-item active">
            <%= image_tag rand_image_to_heroku, class: 'carousel__image' %>
          </div>
          <div class="carousel-item">
            <%= image_tag rand_image_to_heroku, class: 'carousel__image' %>
          </div>
          <div class="carousel-item">
            <%= image_tag rand_image_to_heroku, class: 'carousel__image' %>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">←</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">→</span>
      </a>
    </div>
    <h2><%= @product.title %></h2>
    <div class="row ">
      <div class="col-sm-2"><%= t('products.index.category') %>: <%= @product.category.title %></div>
      <div class="col-sm-2"><%= t('products.index.price') %>: <%= @product.price %></div>
    </div>
    <p class="description"><%= t('products.index.description') %>:  <%= @product.description %></p>
    <div class="row">
      <button type="button" class="btn btn-outline-secondary"><%= t('link.buy') %></button>
      <%= link_to t('link.back'), products_path, class:"btn btn-outline-secondary" %>
    </div>
    <div>
      <br>
      <h2>Comments</h2>
      <% @product.comments.each do |comment| %>
        <p>
          <strong>Commenter:</strong>
          <%= comment.commenter %>
        </p>

        <p>
          <strong>Comment:</strong>
          <%= comment.body %>
        </p>
      <% end %>
    </div>
    <div>
      <br>
      <h2>Add a comment:</h2>
      <%= form_with(model: [ @product, @product.comments.build ], local: true) do |form| %>
        <p>
          <%= form.label :commenter %><br>
          <%= form.text_field :commenter %>
        </p>
        <p>
          <%= form.label :body %><br>
          <%= form.text_area :body %>
        </p>
        <p>
          <%= form.submit %>
        </p>
      <% end %>
    </div>
  </div>
</div>