<%= form_with url: user_sessions_path, method: :post do |f| %>
  <p id="notice"><%= notice %></p>

  <div class="field mb-3">
    <%= f.label t('email') %><br />
    <%= f.text_field :email, class:"form-control col-4" %>
  </div>
  <div class="field mb-3">
    <%= f.label t('password') %><br />
    <%= f.password_field :password, class:"form-control col-4" %>
  </div>
  <div class="actions"><br>
    <%= f.submit t('navbar.login'), class:"btn btn-outline-dark" %>
    <%= link_to t('navbar.signup'), new_user_path, class: "btn btn-outline-dark" %>

  </div>
<% end %>