<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a><%= link_to "Shop GH", root_path, class:"navbar-brand ml-5" %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav mr-5">
      <li class="nav-item">
        <% if I18n.locale == :ru  %>
          <%= link_to 'Рус', url_for(locale: :en), class: 'nav-link' %>
        <% else %>
          <%= link_to 'EN', url_for(locale: :ru), class: 'nav-link' %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to 'About', pages_about_path, class:'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Help', pages_help_path, class:'nav-link' %>
      </li>
      <li class="nav-item" id="nav">
        <% if current_user %>
          <li><%= link_to t('navbar.logout'), :logout, method: :post, class: "nav-link" %></li>
<!--
          <li><%#= link_to "Edit Profile", edit_user_path(current_user.id), class: "nav-link" %></li>
-->
        <% if current_user&.admin? %>
          <li><%= link_to t('navbar.adminpanel'), admin_products_path, class: "nav-link" %></li>
        <% end %>
        <% else %>
          <li><%= link_to t('navbar.signup'), new_user_path, class: "nav-link" %></li>
          <li><%= link_to t('navbar.login'), :login, class: "nav-link active" %></li>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to line_items_path(product_id: @product), class:'nav-link' do %>
          <i class="fas fa-shopping-cart"></i>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

